@model JanperWebsite.Models.Model_Contact

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/scripts")
    @RenderSection("scripts", required: false)
</head>
<body>

    <header>
        <span id="menuHamburger" class="glyphicons glyphicons-menu-hamburger"></span>
        <span id="closeMenu" class="glyphicons glyphicons-remove"></span>
    </header>
    <nav id="menu" class="menu">
        <div class="menu-wrapper">
            <div id="mainMenu" class="menu">
                <ul>
                    <li id="homeLink">
                        Home
                        <script>

                            $("#homeLink").click(function () {
                                handleMenuLoad($(this).attr("id"));
                                //$.ajax(
                                //    {

                                //        url: "../Home/Index",
                                //        success: function (result) {
                                //            $("#content-container").html(result);
                                //            $("#Sheen").animate({ left: '50px' }, { duration: 1000, queue: false });
                                //            $("#Dura").animate({ left: '50px' }, { duration: 1000, queue: false });
                                //            $("#Edge").animate({ left: '50px' }, { duration: 1000, queue: false });
                                //            $("#Ease").animate({ left: '50px' }, { duration: 1000, queue: false });
                                //            $("#container").animate({ left: '250px' }, { duration: 1000, queue: false });
                                //            $("body").scrollView();
                                //        }
                                //    })
                            });
                        </script>
                    </li>
                    <li id="AboutLink">
                        About
                        <script>

                            $("#AboutLink").click(function () {
                                handleMenuLoad($(this).attr("id"));
                            });
                        </script>
                    </li>
                </ul>
                <hr />
                <ul id="menuList">
                    <li id="sheenMenu">
                        JanperAcrylic
                        <script>
                            $("#sheenMenu").click(function () {
                                handleMenuLoad($(this).attr("id"));
                            });
                        </script>
                    </li>
                    <li id="duraMenu">
                        DuraForm
                    </li>
                    <li id="edgeMenu">
                        JanperEdge
                        <script>
                            $("#edgeMenu").click(function () {
                                handleMenuLoad($(this).attr("id"));
                            });
                        </script>
                    </li>
                </ul>
                <hr />
                <ul>
                    <li id="TradeMenu">
                        Trade Area
                        <script>
                            $("#TradeMenu").click(function () {
                                handleMenuLoad($(this).attr("id"));
                            });
                        </script>
                    </li>
                    <li id="ContactMenu">
                        Contact
                        <script>
                            
                            $("#ContactMenu").click(function () {
                                handleMenuLoad($(this).attr("id"));
                            })
                        </script>
                    </li>
                </ul>
            </div>
            <div id="Dura" class="menu subMenu">
                <span class="closeSubMenu glyphicons glyphicons-remove"></span>
                <hr />
                <ul>
                    <li id="DuraS1">
                        SeriesOne
                    </li>
                    <li id="DuraS2">
                        SeriesTwo
                    </li>
                    <li id="DuraS3">
                        SeriesThree
                    </li>
                    <li id="DuraS4">
                        SeriesFour
                    </li>
                    <li id="DuraS5">
                        SeriesFive
                    </li>
                    <li id="DuraColours">
                        Colours & Finishes
                    </li>
                    <li id="DuraOptions">
                        Options & Accessories
                    </li>
                </ul>
                <div class="blurb-wrapper">
                    <h4 id="SeriesHeader">Series one</h4>
                    <p id="SeriesBlurb">Lorum ipsum sit ador</p>
                </div>


                <script>
                            $("#Dura li").click(function () {
                                var id = $(this).attr('id');
                                var $items = $(this).parent().children()
                                $("#Dura li").each(function () {
                                    $(this).removeClass("highlight");
                                });
                                $(this).addClass("highlight");
                                if ($("#content-container").children().first().attr('id') == "DuraForm" && $("#content-container").children().first().children().first().attr('class') == "content-wrapper") {
                                    handleDuraFormLoad(id, true);
                                }
                                else {
                                    handleDuraFormLoad(id, false);

                                    $("#menu").toggleClass("expanded");
                                    $("#menu").animate({ left: '-200px' }, { duration: 1000 });
                                    $("#container").animate({ left: '250px' }, { duration: 1000 });
                                    $("header").animate({ left: '0' }, { duration: 1000, queue: false });
                                    $("#menuHamburger").css("display", "block");
                                    $("#closeMenu").css("display", "none");
                                }

                            }
                            );

                </script>
            </div>
        </div>


    </nav>
    <div id="container">
        <img id="logo" src="~/Images/logo.png" />

        <div id="content-container">
            @RenderBody()
        </div>
        <div id="Contact" class="contact-wrapper">
            @Html.Partial("_Contact - NoForm")
        </div>
    </div>
    <footer>
        @Html.Partial("_Footer")
    </footer>
</body>

</html>

<script>
    function handleMenuLoad(id) {
        $(".closeSubMenu").css("display", "none");
        $("#Dura").animate({ left: '50px' }, 1000, function () {
            {
                $("#Dura").css("z-index", "10");
            }
        });

        $(".closeSubMenu").css("display", "none");
        if ($("#menu").hasClass("expanded")) {
            $("#container").animate({ left: '250px' }, { duration: 1000 });
        }
        else {
            $("#container").animate({ left: '50px' }, { duration: 1000 });
        }
        switch (id) {
            case "homeLink":
                $.ajax(
                    {
                        url: "../Home/Index",
                        success: function (result) {
                            $("#content-container").html(result);
                            $(window).scrollTop(0);
                        }
                    })
                break;
            case "sheenMenu":
                $.ajax(
                    {
                        url: "../JanperAcrylic/Index",
                        success: function (result) {
                            $("#content-container").html(result);
                            $(window).scrollTop(0);
                        }
                    })
                break;
            case "edgeMenu":
                $.ajax(
                    {
                        url: "../JanperEdge/Index",
                        success: function (result) {
                            $("#content-container").html(result);
                            $(window).scrollTop(0);
                        }
                    })
                break;
            case "TradeMenu":
                $.ajax(
                    {
                        url: "../TradeArea/Index",
                        success: function (result) {
                            $("#content-container").html(result);
                            $(window).scrollTop(0);
                        }
                    })
                break;
            case "ContactMenu":
                $("#Contact").scrollView();
                break;
            case "AboutLink":
                $.ajax(
                    {
                        url: "../Home/Index",
                        success: function (result) {
                            $("#content-container").html(result);
                            $("#red").scrollView();
                        }
                    })
                break;
        }
    }
</script>
<script>
    function handleDuraFormLoad(id, isLoaded) {
        if (isLoaded) {
            switch (id) {
                case "DuraColours":
                    $.ajax(
                        {
                            url: "../DuraForm/Colours/Index",
                            success: function (result) {
                                $("#DuraForm").replaceWith(result);
                                $(window).scrollTop(0);
                                $('#SeriesHeader').text("");
                                $('#SeriesBlurb').text("");
                            }
                        })
                    break;
                case "DuraOptions":
                    $.ajax(
                        {
                            url: "../DuraForm/Options",
                            success: function (result) {
                                $("#DuraForm").replaceWith(result);
                                $(window).scrollTop(0);
                                $('#SeriesHeader').text("");
                                $('#SeriesBlurb').text("");
                            }
                        })
                    break;

                default:
                                switch (id) 
                                    {
                                        case "DuraS1":
                                        $(window).scrollTop(0);
                                        $("#SeriesHeader").text("SeriesOne");
                                        $("#SeriesBlurb").text("@Html.Partial("../DuraForm/Blurbs/SeriesOne")");
                                            break;

                                        case "DuraS2":
                                            $('#SeriesTwo').scrollView();
                                        $("#SeriesHeader").text("SeriesTwo");
                                        $("#SeriesBlurb").text("@Html.Partial("../DuraForm/Blurbs/SeriesTwo")");
                                            break;

                                        case "DuraS3":
                                            $('#SeriesThree').scrollView();
                                        $("#SeriesHeader").text("SeriesThree");
                                        $("#SeriesBlurb").text("@Html.Partial("../DuraForm/Blurbs/SeriesThree")");
                                            break;

                                        case "DuraS4":
                                            $('#SeriesFour').scrollView();
                                        $("#SeriesHeader").text("SeriesFour");
                                        $("#SeriesBlurb").text("@Html.Partial("../DuraForm/Blurbs/SeriesOne")");
                                            break;

                                        case "DuraS5":
                                            $('#SeriesFive').scrollView();
                                        $('#SeriesHeader').text("SeriesFive");
                                        $('#SeriesBlurb').text("@Html.Partial("../DuraForm/Blurbs/SeriesFive")");
                                            break;
                                    }
            }
        }
        else {
            switch (id) {
                case "DuraColours":
                    $.ajax(
                        {
                            url: "../DuraForm/Colours/Index",
                            success: function (result) {
                                $("#content-container").html(result);
                                $(window).scrollTop(0);
                                $('#SeriesHeader').text("");
                                $('#SeriesBlurb').text("");
                            }
                        })
                    break;
                case "DuraOptions":
                    $.ajax(
                        {
                            url: "../DuraForm/Options",
                            success: function (result) {
                                $("#content-container").html(result);
                                $(window).scrollTop(0);
                                $('#SeriesHeader').text("");
                                $('#SeriesBlurb').text("");
                            }
                        })
                    break;

                default:
                    $.ajax(
                        {
                            url: "../DuraForm/Index",
                            success: function (result) {
                                $("#content-container").html(result);
                            }
                        }).done(function ()
                        {

                            setTimeout(function ()
                            {
                                switch (id) 
                                    {
                                        case "DuraS1":
                                        $(window).scrollTop(0);
                                        $("#SeriesHeader").text("SeriesOne");
                                        $("#SeriesBlurb").text("@Html.Partial("../DuraForm/Blurbs/SeriesOne")");
                                            break;

                                        case "DuraS2":
                                            $('#SeriesTwo').scrollView();
                                        $("#SeriesHeader").text("SeriesTwo");
                                        $("#SeriesBlurb").text("@Html.Partial("../DuraForm/Blurbs/SeriesTwo")");
                                            break;

                                        case "DuraS3":
                                            $('#SeriesThree').scrollView();
                                        $("#SeriesHeader").text("SeriesThree");
                                        $("#SeriesBlurb").text("@Html.Partial("../DuraForm/Blurbs/SeriesThree")");
                                            break;

                                        case "DuraS4":
                                            $('#SeriesFour').scrollView();
                                        $("#SeriesHeader").text("SeriesFour");
                                        $("#SeriesBlurb").text("@Html.Partial("../DuraForm/Blurbs/SeriesOne")");
                                            break;

                                        case "DuraS5":
                                            $('#SeriesFive').scrollView();
                                        $('#SeriesHeader').text("SeriesFive");
                                        $('#SeriesBlurb').text("@Html.Partial("../DuraForm/Blurbs/SeriesFive")");
                                            break;
                                    }
                            }, 1000);
                        });
            }
        }
    }

</script>

<script>
    $.fn.scrollView = function () {
        return this.each(function () {
            $('html, body').animate({
                scrollTop: $(this).offset().top
            }, 1000);
        });
    }
</script>

<script>
    $("#menuHamburger").click(function () {
        if ($(window).width() > 1279) {
            $("header").animate({ left: '200px' }, { duration: 1000, queue: false });
            $("#menu").animate({ left: '0px' }, { duration: 1000, queue: false });
            $("#menu").toggleClass("expanded");
            $("#container").animate({ left: '250px' }, { duration: 1000, queue: false });
            $("#menuHamburger").css("display", "none");
            $("#closeMenu").css("display", "inline-block");
            if ($(".closeSubMenu").css("display") == "block") {
                $("#container").animate({ left: '450px' }, { duration: 1000, queue: false });
            }
        }
        else {
            $("#menu").css("height", "100vh");
            $(".menu-wrapper").animate({ top: '0px' }, { duration: 1000 });
            $("#openMenu").css("display", "none");
            $("#closeMenu").css("display", "block");
        }
    });
</script>
<script>
    $("#closeMenu").click(function () {
        if ($(window).width() > 1279) {
            $("#menu").animate({ left: '-200px' }, { duration: 1000 });
            $("#menu").toggleClass("expanded");
            $("#container").animate({ left: '50px' }, { duration: 1000 });
            $("header").animate({ left: '0' }, { duration: 1000, queue: false });
            $("#menuHamburger").css("display", "block");
            $("#closeMenu").css("display", "none");
            $(".closeSubMenu").css("display", "none");
            $("#Sheen").animate({ left: '50px' }, { duration: 1000, queue: false });
            $("#Dura").animate({ left: '50px' }, { duration: 1000, queue: false });
            $("#Edge").animate({ left: '50px' }, { duration: 1000, queue: false });
            $("#Ease").animate({ left: '50px' }, { duration: 1000, queue: false });
        }
        else {
            $(".menu-wrapper").animate({ top: '-100vh' }, 1000, function () {
                $("#menu").css("height", "75px");
            });

            $("#openMenu").css("display", "block");
            $("#closeMenu").css("display", "none");
        }
    });
</script>
<script>
    function closeMenu(menuToClose) {
        if ($(window).width() > 1279) {

            $("#" + menuToClose).animate({ left: '50px' }, 1000, function () {
                {
                    $("#" + menuToClose).css("z-index", "10");
                }
            });

            $(".closeSubMenu").css("display", "none");
            if ($("#menu").hasClass("expanded")) {
                $("#container").animate({ left: '250px' }, { duration: 1000 }, );
            }
            else {
                $("#container").animate({ left: '50px' }, { duration: 1000 }, );
            }
        }
    }
</script>
<script>
    $("#menuList li").click(function () {
        if ($(window).width() > 1279) {
            $("#menuList li").each(function () {
                $(this).removeClass("highlight");
            });
            $(this).add
            switch ($(this).attr('id')) {
                case 'sheenMenu':
                    $("#Sheen").animate({ left: '250px' }, 1000);
                    $(".closeSubMenu").css("display", "block");
                    $("#Dura").animate({ left: '50px' }, 1000, function () {
                    });
                    $("#Edge").animate({ left: '50px' }, 1000, function () {
                    });
                    $("#Ease").animate({ left: '50px' }, 1000, function () {
                    });

                    break
                case 'duraMenu':
                    $("#Dura").animate({ left: '250px' }, 1000);
                    $("#container").animate({ left: '450px' }, { duration: 1000 }, );
                    $(".closeSubMenu").css("display", "block");
                    $("#Sheen").animate({ left: '50px' }, 1000, function () {
                    });
                    $("#Edge").animate({ left: '50px' }, 1000, function () {
                    });
                    $("#Ease").animate({ left: '50px' }, 1000, function () {
                    });
                    break
                case 'edgeMenu':
                    $("#Sheen").animate({ left: '50px' }, 1000, function () {

                    });
                    $("#Dura").animate({ left: '50px' }, 1000, function () {

                    });
                    $("#Ease").animate({ left: '50px' }, 1000, function () {

                    });
                    break
                case 'easeMenu':
                    $("#Ease").animate({ left: '250px' }, 1000);
                    $("#Sheen").animate({ left: '50px' }, 1000, function () {
                    });
                    $("#Dura").animate({ left: '50px' }, 1000, function () {
                    });
                    $("#Edge").animate({ left: '50px' }, 1000, function () {
                    });
                    break
            }
        }
    });
</script>
<script>
    $(".closeSubMenu").click(function () {
        $("#Dura li").each(function () {
            $(this).removeClass("highlight");
        });
        if ($(window).width() > 1279) {
            div = $(this).parent("div").eq(0).attr('id');
            closeMenu(div);

        }
    });
</script>



