

@{
  ViewBag.Title = "Index";
}

<div class="mobile-sub-menu display-mobile">
  <div class="mobile-sub-menu-title"><span></span></div>
  <div class="mobile-sub-menu-control glyphicons glyphicons-chevron-down"></div>
  <div class="mobile-sub-menu-expanded">
    @Html.Partial("_DuraSubMenu")
  </div>
</div>

<div id="DuraForm">
    <div id="Colours">
        <div class="content-wrapper full">
            <h1>DuraForm&#174;</h1>
            <h2 class="sub-title">colours <span>&amp;</span> finishes</h2>
            <h5><b>J</b> = Janper matching colour on 2400mm x 1200mm x 16mm board</h5>
            <h5><b>L</b> = Matching boards available</h5>

        </div>
        @Html.Partial("Colours/SupaMatt")

        <br class="clearfix" />
        <hr />
        @Html.Partial("Colours/Satin")
        <br class="clearfix" />
        <hr />
        @Html.Partial("Colours/GlossStandard")
        <br class="clearfix" />
        <hr />
        @Html.Partial("Colours/GlossPremium")
        <br class="clearfix" />
        <hr />
        @Html.Partial("Colours/Suedette")
        <br class="clearfix" />
        <hr />
        @Html.Partial("Colours/Texture")
        <br class="clearfix" />
        <hr />
        @Html.Partial("Colours/Breeze")
        <br class="clearfix" />
        <hr />
        @Html.Partial("Colours/Woodgrain")
        <br class="clearfix" />
    </div>
</div>
