<ul>
    <li data-toggle="collapse" data-target="#SupaMattCollapse">DuraForm - Supa Matt</li>
    <li id="SupaMattCollapse" class="collapse">
        @Html.Partial("SupaMatt")
        <br class="clearfix" />
    </li>
    <li data-toggle="collapse" data-target="#SatinCollapse">
        DuraForm - Satin
    </li>
    <li id="SatinCollapse" class="collapse">
        @Html.Partial("Satin")
        <br class="clearfix" />
    </li>
    <li data-toggle="collapse" data-target="#GlossStandardCollapse">
        DuraForm - Gloss Standard
    </li>
    <li id="GlossStandardCollapse" class="collapse">
        @Html.Partial("GlossStandard")
        <br class="clearfix" />
    </li>
    <li data-toggle="collapse" data-target="#GlossPremiumCollapse">
        DuraForm - Gloss Premium
    </li>
    <li id="GlossPremiumCollapse" class="collapse">
        @Html.Partial("GlossPremium")
        <br class="clearfix" />
    </li>
    <li data-target="#SuedetteCollapse" data-toggle="collapse">
        DuraForm - Suedette
    </li>
    <li id="SuedetteCollapse" class="collapse">
        @Html.Partial("Suedette")
        <br class="clearfix" />
    </li>
    <li data-toggle="collapse" data-target="#TextureCollapse">
        DuraForm - Texture
    </li>
    <li id="TextureCollapse" class="collapse">
        @Html.Partial("Texture")
        <br class="clearfix" />
    </li>
    <li data-toggle="collapse" data-target="#BreezeCollapse">
        DuraForm - Breeze
    </li>
    <li id="BreezeCollapse" class="collapse">
        @Html.Partial("Breeze")
        <br class="clearfix" />
    </li>
    <li data-toggle="collapse" data-target="#WoodgrainCollapse">
        DuraForm - Woodgrain
    </li>
    <li id="WoodgrainCollapse" class="collapse">
        @Html.Partial("Woodgrain")
        <br class="clearfix" />
    </li>

    <li data-toggle="collapse" data-target="#EdgeWoodgrainCollapse">
        JanperEdge - Matt
    </li>
    <li id="EdgeWoodgrainCollapse" class="collapse">
        @Html.Partial("EdgeMatt")
        <br class="clearfix" />
    </li>
    <li data-toggle="collapse" data-target="#EdgeMattCollapse">
        JanperEdge - Woodgrain
    </li>
    <li id="EdgeMattCollapse" class="collapse">
        @Html.Partial("EdgeWoodgrain")
        <br class="clearfix" />
    </li>
    <li data-toggle="collapse" data-target="#AcrylicCollapse">
        Janper Acrylic
    </li>
    <li id="AcrylicCollapse" class="collapse">
        @Html.Partial("Acrylic")
        <br class="clearfix" />
    </li>

</ul>
